/*Heading styling*/
.dreamTeam {
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

/*Div borders and spacing*/
.staff {
	float: left;
	width: 24%;
	border: 2px solid black;
	text-align: center;
	margin-left: 3px;
	margin-right: 3px; 
	border-radius: 10px;
	margin-top: 50px;
}

.staff:hover {
   background: #ff6000;
 }

/*ul styling*/
.mmUL {
	text-align: left;
}
.mmUL2 {
	text-align: left;
}

.mmContainer{
	display: block;
	min-height: 125px;
}





.teamImages {
	border-radius: 10px;
	margin-top: 20px;
}
