/*CJ CSS*/
.banner {
	width: 100%;
	height: 110px;
	/*border: 1px solid black;*/
	background-color: white;
	margin-left: 0;
}

a {
	float: left;
	margin: .65% 9%;
	list-style: none;
	color: white;
	text-align: center;
	width: 60px;
}

a:hover {
	background-color: white;
	color: #FF6000;
	height: 100%;
	width: 60px;
}

.container {
	margin: 0;
}

.nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 35px;
	background-color: #FF6000;
}
.navbar {
	position: fixed;
	top: 0;
	width: 98%;
	right: 1%;
	left: .75%;
	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.footer {
	height: 50px;
	background-color: #FF6000 ;
	position: fixed;
	bottom: 0px;
	width: 98%;
	right: 1%;
	left: .75%;
	text-align: center;
}
.icon {
	width: 35px;
	height: 35px;
	background-color: white;
	padding: 1px;
	display: inline-block;
}
.footer-text {
	color: white;
	margin-top: 0px;
	display: inline-block;
}
/*CJ CSS*/
.product {
	background-color: #BBC2C4;
	width: 28%;
	/*margin: 10px;*/
	margin-bottom: 50px;
	height: 80%;
	float:left;
	border: 1px solid #33302F;
	display: inline-block;
	margin-right: 1.5%;
	border-radius: 87px 87px 87px 87px;
	-moz-border-radius: 87px 87px 87px 87px;
	-webkit-border-radius: 87px 87px 87px 87px;
	border: 0px solid #000000;
	max-height: 80%;
}
.product:hover {
	-webkit-box-shadow: 7px 6px 32px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 32px 25px rgba(0,0,0,0.75);
box-shadow: 7px 6px 32px 25px rgba(0,0,0,0.75);
}
#header {
	text-align: center;
}
img {
	width: 80%;
	margin-left: 10%;
	height: 175px;
	border: 1px solid black;
}
#productDescription1 {
	margin: 15px 10px;
}
#productDescription2 {
	margin: 15px 2px;
}
#productDescription3 {
	margin: 15px 2px;
}
#productDescription4 {
	margin: 15px 2px;
}
#productDescription5 {
	margin: 15px 2px;
}
#productDescription6 {
	margin: 15px 2px;
}
#productDescription7 {
	margin: 15px 2px;
}
#productDescription8 {
	margin: 15px 2px;
}
.available p {
	background-color: #FF6000;
	color: white;
	height: 100%;
	text-align: center;
}
header {
	text-align: center;
}
.specs {
	font-weight: bold;
	text-align: center;
}
footer {
	font-size: .7em;
	text-align: center;
}
.price {
	font-weight: bold;
}
.s3 {
	line-height: .5em;
	text-align: center;
	height: 60px
}
.s2 {
	line-height: .5em;
}
.content {
	margin-top: 15%;
	width: 95%;
	margin-left: 5%;
	max-height: 78%;
	margin-bottom: 170px;
	min-width: 80%;
}
h1 {
	margin-top: 35px;
	max-width: 80%;
	margin-left: 10%;
}
#price1{
	margin-top: 15px;
}
#price2{
	margin-top: 15px;
}
#price3{
	margin-top: 15px;
}#price4{
	margin-top: 15px;
}
#price5{
	margin-top: 15px;
}
#price6{
	margin-top: 15px;
}
#price7{
	margin-top: 15px;
}
#price#{
	margin-top: 15px;
}